{{#each this}}
  <li class='card' id={{this.id}}>
    <div class='front'>
      <img
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt=''
        width='340'
      />
      <div class='card-box'>
        <h3 class='card-title'>{{title}}</h3>
        <p class='text'>{{genre_ids}}| {{release_date}}</p>
      </div>
      <div class='rating'>
        <span class='rating-value'>{{vote_average}}</span>
      </div>
    </div>
    <div class='back'>
      <p class='back-text'>{{overview}}</p>
      <div class="buttons" id="buttons">
      <button type="submit" name='addFavorite' id={{this.id}} data-card='"id" : "{{this.id}}", "poster_path" : "{{poster_path}}", "title" : "{{title}}", "genre_ids" : "{{genre_ids}}", "relesedate" : "{{release_date}}", "vote_average" : "{{vote_average}}", "overview" : "{{overview}}"'>Додати до обраного</button>
      <button type='submit' name='delFavorite' id={{this.id}}>Выдалити з обраного</button>
      <button type="submit" name='addWatched' id={{this.id}} data-card='"id" : "{{this.id}}", "poster_path" : "{{poster_path}}", "title" : "{{title}}", "genre_ids" : "{{genre_ids}}", "relesedate" : "{{release_date}}", "vote_average" : "{{vote_average}}", "overview" : "{{overview}}"'>Додати до проглянутого</button>
      <button type="submit" name='delWatched' id={{this.id}}>Выдалити з проглянутого</button>
    </div>
    </div>
  </li>
{{/each}}