{{#each this}}
  <li class='card' id={{this.id}}>
    <div class='front'>
      <img
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt=''
        width='340'
      />
      <div class='card-box'>
        <h3 class='card-title'>{{title}}</h3>
        <p class='text'>{{genre_ids}}| {{release_date}}</p>
      </div>
      <div class='rating'>
        <span class='rating-value'>{{vote_average}}</span>
      </div>
    </div>
    <div class='back'>
      <p class='back-text'>{{overview}}</p>
      <button type="submit" name='addFavorite' id={{this.id}}>Додати до обраного</button>
      <button type='submit' name='delFavorite' id={{this.id}}>Выдалити з обраного</button>
      <button type="submit" name='addWatched' id={{this.id}}>Додати до проглянутого</button>
      <button type="submit" name='delWatched' id={{this.id}}>Выдалити з обраного</button>
    </div>
  </li>
{{/each}}